---
layout: default
title: "Quantitative Neurobiology"
ishome: yes
---
{% for post in site.categories.blog %}
  <div class="blog-post">
    <h1 class="blog-post-title">{{ post.post_title }}</h1>
    <p class="blog-post-meta"><font color="gray">{{ post.date | date: "%-d %B %Y" }} by </font><a href="/people.html">{{ post.author }}</a></p>
    <p>{{ post.content }}</p>
    <!-- {% capture content_words %}
      {{ post.content | number_of_words }}
    {% endcapture %}
    {% capture excerpt_words %}
      {{ post.excerpt | number_of_words }}
    {% endcapture %}
    {% if excerpt_words != content_words %}
      <a href={{ post.url }}>Read more...</a>
    {% endif %} -->
  </div>
{% endfor %}

{% raw %}
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{% endraw %}
